*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    background-image: url(../assets/background.svg);
    height: 100vh;
    background-size: cover;
}
#choose_fighter{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 20px;
}
#fighters_container{
    display: flex;
    align-items: center;
    gap: 10px;
}
#player1, #player2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    gap: 10px;
}

#player1{
    background-color: rgba(255, 0, 0, 0.2);
}
#player2{
    background-color: rgba(0, 0, 255, 0.2);
}

#player1 li, #player2 li{
    display: flex;
    align-items: center;
    list-style: none;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: white;
    font-weight: bold;
}

#player1 img, #player2 img{
    width: 130px;
    height: 130px;
    object-fit: contain;
    border-radius: 10px;
}
#player1 div, #player2 div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

